.NavBar a, .NavBar button {
	margin: 0 5px;
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    text-decoration: none;
    
}



.NavBar {
	margin-bottom: 20px
}

/* Home Page Styles */

.home {
    display: block;
    align-content: center;
}

h1 {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    padding: 20px;
}
.navbar {
    background-color:#bfbfbf;

}
.navbar-brand {
    font-family: 'Raleway', sans-serif;
    
}



.carousel-inner img {
    width: 1100px;
    height: 610px;

}


.myCarousel {
    padding-bottom: 20px;
} 

h2 {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    
}
p {
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

footer {
    margin-top: 34px;
}